/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	/*-----------------------
		Home One
	-----------------------*/
	.slider-content h2 {
		font-size: 46px;
		line-height: 65px;
	}
	.slider-area {
		height: 737px;
	}

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*-----------------------
		Home One
	-----------------------*/
	.slider-content h2 {
		font-size: 44px;
		line-height: 58px;
	}
	.slider-area {
		height: 530px;
		padding-top: 135px;
	}
	.about-area,
	.screen-slider-area,
	.feature-item .icon::before,
	.feature-item::before,
	.feature-item::after {
		display: none;
	}
	.feature-list {
		margin-top: 0;
		padding-right: 40px;
	}
    .feature-item {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.feature-area,
	.team-area{
		padding: 70px 0px 50px;
	}
	.feature-list.feature-list-right {
		padding-left: 40px;
		padding-right: 0;
	}
	.download-area {
		padding: 60px 0px 50px;
	}
	.download-btns a {
		margin-bottom: 20px;
	}
	.list-item {
		margin-bottom: 30px;
	}

}

/* Max Size: 320px. */
@media screen and (max-width: 991px) {
    .logo a img {
        max-width: 127px;
    }
    .logo {
        margin: 27px 0px 20px;
    }
    .header-area {
		background: #7c4dff;
		z-index: 9;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	}
	.slicknav_nav a {
		color: #fff !important;
	}
	.slicknav_nav a:hover {
		background: #444;
	}

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.feature-item .icon::before,
	.feature-item::before,
	.feature-item::after {
		display: none;
	}
	.feature-list {
		margin-top: 0;
	}
	.feature-item {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 27px;
		text-align: center;
	}
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {
	/*-----------------------
		Home One
	-----------------------*/
	.slider-content h2 {
		font-size: 37px;
		line-height: 54px;
	}
	.slider-content p {
		font-size: 14px;
	}
	.slider-area {
		height: auto;
		min-height: 100vh;
		padding-top: 137px;
		padding-bottom: 66px;
	}
	.about-area,
	.screen-slider-area,
	.download-area,
	.feature-area,
	.download-btns a {
		margin-bottom: 20px;
	}
	.list-item {
		margin-bottom: 30px;
	}

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {

	/*-----------------------
		Home One
	-----------------------*/
	.slider-content h2 {
		font-size: 22px;
		line-height: 35px;
	}
	.slider-content p {
		font-size: 14px;
	}
	.slider-area {
		height: auto;
		min-height: 100vh;
		padding-top: 137px;
		padding-bottom: 66px;
	}
	.raindrops-canvas{
		padding-bottom: 146px;
	}
	.about-area,
	.screen-slider-area,
	.download-area,
	.about-content h2 {
		font-size: 25px;
	}
	.feature-area,
	.download-btns a {
		margin-bottom: 20px;
	}
	.section-title h2 {
		font-size: 28px;
		line-height: 35px;
	}

}